In [189]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from itertools import combinations
%matplotlib inline

In [190]:
df = pd.read_csv('/users/jdoyle216/downloads/ufc-master.csv')
df.head()

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,finish_details,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,Edson Barboza,Giga Chikadze,-125,105,80.000000,105.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Blue,...,Punch,3.0,1:44,704.0,250.0,400.0,1400.0,2500.0,250.0,200.0
1,Bryan Battle,Gilbert Urbina,-200,170,50.000000,170.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,Rear Naked Choke,2.0,2:15,435.0,175.0,350.0,400.0,700.0,350.0,800.0
2,Ricky Turcios,Brady Hiestand,-145,125,68.965517,125.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,NaN,3.0,5:00,900.0,165.0,240.0,700.0,800.0,350.0,800.0
3,Kevin Lee,Daniel Rodriguez,-145,125,68.965517,125.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,215.0,330.0,300.0,1600.0,700.0,330.0
4,Andre Petroski,Micheal Gillmore,-550,400,18.181818,400.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,Elbows,3.0,3:12,792.0,500.0,1100.0,100.0,1800.0,225.0,800.0

In [191]:
list(df.columns)

['R_fighter',
 'B_fighter',
 'R_odds',
 'B_odds',
 'R_ev',
 'B_ev',
 'date',
 'location',
 'country',
 'Winner',
 'title_bout',
 'weight_class',
 'gender',
 'no_of_rounds',
 'B_current_lose_streak',
 'B_current_win_streak',
 'B_draw',
 'B_avg_SIG_STR_landed',
 'B_avg_SIG_STR_pct',
 'B_avg_SUB_ATT',
 'B_avg_TD_landed',
 'B_avg_TD_pct',
 'B_longest_win_streak',
 'B_losses',
 'B_total_rounds_fought',
 'B_total_title_bouts',
 'B_win_by_Decision_Majority',
 'B_win_by_Decision_Split',
 'B_win_by_Decision_Unanimous',
 'B_win_by_KO/TKO',
 'B_win_by_Submission',
 'B_win_by_TKO_Doctor_Stoppage',
 'B_wins',
 'B_Stance',
 'B_Height_cms',
 'B_Reach_cms',
 'B_Weight_lbs',
 'R_current_lose_streak',
 'R_current_win_streak',
 'R_draw',
 'R_avg_SIG_STR_landed',
 'R_avg_SIG_STR_pct',
 'R_avg_SUB_ATT',
 'R_avg_TD_landed',
 'R_avg_TD_pct',
 'R_longest_win_streak',
 'R_losses',
 'R_total_rounds_fought',
 'R_total_title_bouts',
 'R_win_by_Decision_Majority',
 'R_win_by_Decision_Split',
 'R_win_by_Decision_Unanimous',
 'R_win_by_KO/TKO',
 'R_win_by_Submission',
 'R_win_by_TKO_Doctor_Stoppage',
 'R_wins',
 'R_Stance',
 'R_Height_cms',
 'R_Reach_cms',
 'R_Weight_lbs',
 'R_age',
 'B_age',
 'lose_streak_dif',
 'win_streak_dif',
 'longest_win_streak_dif',
 'win_dif',
 'loss_dif',
 'total_round_dif',
 'total_title_bout_dif',
 'ko_dif',
 'sub_dif',
 'height_dif',
 'reach_dif',
 'age_dif',
 'sig_str_dif',
 'avg_sub_att_dif',
 'avg_td_dif',
 'empty_arena',
 'constant_1',
 'B_match_weightclass_rank',
 'R_match_weightclass_rank',
 "R_Women's Flyweight_rank",
 "R_Women's Featherweight_rank",
 "R_Women's Strawweight_rank",
 "R_Women's Bantamweight_rank",
 'R_Heavyweight_rank',
 'R_Light Heavyweight_rank',
 'R_Middleweight_rank',
 'R_Welterweight_rank',
 'R_Lightweight_rank',
 'R_Featherweight_rank',
 'R_Bantamweight_rank',
 'R_Flyweight_rank',
 'R_Pound-for-Pound_rank',
 "B_Women's Flyweight_rank",
 "B_Women's Featherweight_rank",
 "B_Women's Strawweight_rank",
 "B_Women's Bantamweight_rank",
 'B_Heavyweight_rank',
 'B_Light Heavyweight_rank',
 'B_Middleweight_rank',
 'B_Welterweight_rank',
 'B_Lightweight_rank',
 'B_Featherweight_rank',
 'B_Bantamweight_rank',
 'B_Flyweight_rank',
 'B_Pound-for-Pound_rank',
 'better_rank',
 'finish',
 'finish_details',
 'finish_round',
 'finish_round_time',
 'total_fight_time_secs',
 'r_dec_odds',
 'b_dec_odds',
 'r_sub_odds',
 'b_sub_odds',
 'r_ko_odds',
 'b_ko_odds']

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4850 entries, 0 to 4849
Columns: 119 entries, R_fighter to b_ko_odds
dtypes: bool(1), float64(57), int64(47), object(14)
memory usage: 4.4+ MB

In [193]:
df.describe()

,R_odds,B_odds,R_ev,B_ev,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_SIG_STR_landed,B_avg_SIG_STR_pct,...,B_Flyweight_rank,B_Pound-for-Pound_rank,finish_round,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
count,4850.00000,4850.000000,4850.000000,4850.000000,4850.000000,4850.000000,4850.000000,4850.000000,3920.000000,4085.000000,...,95.000000,34.000000,4228.000000,4228.000000,4048.000000,4032.000000,3802.000000,3790.000000,3802.000000,3789.000000
mean,-117.48866,66.079588,94.788651,167.072018,3.181649,0.476701,0.874433,0.010103,26.571304,0.444674,...,8.473684,9.382353,2.407758,652.209792,293.974061,416.409970,840.992898,1061.568074,514.969753,647.448931
std,268.20965,247.545580,82.792599,136.711756,0.570999,0.768243,1.311036,0.106021,20.915831,0.121698,...,4.259763,4.320597,0.996448,357.971990,231.148167,306.225889,549.097840,624.143717,413.039277,457.558249
min,-1700.00000,-1200.000000,5.882353,8.333333,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,5.000000,-440.000000,-195.000000,-370.000000,-1250.000000,-550.000000,-275.000000
25%,-255.00000,-145.000000,39.215686,68.965517,3.000000,0.000000,0.000000,0.000000,6.000000,0.387368,...,5.000000,5.000000,1.000000,296.750000,167.000000,224.750000,434.000000,590.000000,240.000000,325.000000
50%,-150.00000,130.000000,66.666667,130.000000,3.000000,0.000000,0.000000,0.000000,25.000000,0.450000,...,8.000000,10.000000,3.000000,900.000000,250.000000,348.000000,719.000000,975.000000,435.000000,550.000000
75%,125.75000,220.000000,125.750000,220.000000,3.000000,1.000000,1.000000,0.000000,39.400000,0.510000,...,12.000000,13.750000,3.000000,900.000000,399.000000,525.000000,1200.000000,1400.000000,700.000000,885.000000
max,775.00000,1300.000000,775.000000,1300.000000,5.000000,6.000000,12.000000,2.000000,154.000000,1.000000,...,15.000000,15.000000,5.000000,1500.000000,2200.000000,2600.000000,4665.000000,4785.000000,2675.000000,3200.000000

In [194]:
df.isnull().sum(axis = 0).sort_values(ascending=False).head(20)

B_Women's Featherweight_rank    4850
R_Women's Featherweight_rank    4843
B_Pound-for-Pound_rank          4816
B_Women's Flyweight_rank        4809
R_Women's Flyweight_rank        4794
B_Women's Strawweight_rank      4789
B_Women's Bantamweight_rank     4773
B_Bantamweight_rank             4766
B_Lightweight_rank              4763
B_Welterweight_rank             4761
B_Featherweight_rank            4761
B_Light Heavyweight_rank        4759
B_Flyweight_rank                4755
B_Middleweight_rank             4749
R_Women's Strawweight_rank      4746
B_Heavyweight_rank              4743
R_Women's Bantamweight_rank     4733
R_Featherweight_rank            4718
R_Middleweight_rank             4717
R_Bantamweight_rank             4714
dtype: int64

In [195]:
df.loc[:, df.isna().any()]

,B_avg_SIG_STR_landed,B_avg_SIG_STR_pct,B_avg_SUB_ATT,B_avg_TD_landed,B_avg_TD_pct,B_Stance,R_avg_SIG_STR_landed,R_avg_SIG_STR_pct,R_avg_SUB_ATT,R_avg_TD_landed,...,finish_details,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,3.760000,0.45,0.300000,0.330000,0.33,Orthodox,4.110000,0.440000,0.100000,0.400000,...,Punch,3.0,1:44,704.0,250.0,400.0,1400.0,2500.0,250.0,200.0
1,6.210000,0.59,0.000000,4.140000,0.33,Orthodox,6.340000,0.520000,2.100000,2.070000,...,Rear Naked Choke,2.0,2:15,435.0,175.0,350.0,400.0,700.0,350.0,800.0
2,4.400000,0.49,0.000000,6.000000,0.54,Orthodox,7.000000,0.450000,0.000000,1.000000,...,NaN,3.0,5:00,900.0,165.0,240.0,700.0,800.0,350.0,800.0
3,8.060000,0.50,0.200000,0.840000,0.55,Southpaw,3.890000,0.420000,0.800000,3.190000,...,NaN,3.0,5:00,900.0,215.0,330.0,300.0,1600.0,700.0,330.0
4,2.350000,0.59,0.000000,0.000000,0.00,Orthodox,3.480000,0.570000,1.100000,4.550000,...,Elbows,3.0,3:12,792.0,500.0,1100.0,100.0,1800.0,225.0,800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4845,NaN,NaN,NaN,NaN,NaN,Orthodox,13.666667,0.576667,0.000000,0.000000,...,NaN,1.0,0:44,44.0,NaN,NaN,NaN,NaN,NaN,NaN
4846,NaN,NaN,NaN,NaN,NaN,Southpaw,18.000000,0.550000,1.000000,4.666667,...,Punch,1.0,2:01,121.0,NaN,NaN,NaN,NaN,NaN,NaN
4847,8.000000,0.34,1.000000,1.000000,1.00,Orthodox,12.000000,0.250000,0.000000,0.000000,...,Punches,1.0,0:47,47.0,NaN,NaN,NaN,NaN,NaN,NaN
4848,NaN,NaN,NaN,NaN,NaN,Orthodox,40.500000,0.405000,0.000000,3.500000,...,NaN,3.0,5:00,900.0,NaN,NaN,NaN,NaN,NaN,NaN
4849,31.666667,0.46,0.666667,1.666667,0.50,Orthodox,15.666667,0.588333,1.333333,0.833333,...,NaN,3.0,5:00,900.0,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
df.info()
df.B_Stance.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4850 entries, 0 to 4849
Columns: 119 entries, R_fighter to b_ko_odds
dtypes: bool(1), float64(57), int64(47), object(14)
memory usage: 4.4+ MB

Orthodox       3645
Southpaw        972
Switch          229
Switch            1
Open Stance       1
Name: B_Stance, dtype: int64

In [197]:
Ortho = df['B_Stance'][df['B_Stance']=='Orthodox'].count()
Southpaw = df['B_Stance'][df['B_Stance']=='Southpaw'].count()
Switch = df['B_Stance'][df['B_Stance']=='Switch'].count()

In [198]:
Orthp = Ortho/4849
Southpawp = Southpaw/4849
Switchp1 = (Switch+1)/4849

In [199]:
print("The percentage of Orthodox fighters is {}:".format("%.2f" % Orthp))
print("The percentage of Southpaw fighters is {}:".format("%.2f" %Southpawp))
print("The percentage of Switch fighters is {}:".format("%.2f" %Switchp1))

The percent of Orthodox fighters is 0.75:
The percent of Southpaw fighters is 0.20:
The percent of Switch fighters is 0.05:

In [200]:
df.groupby(['B_Stance','R_Stance']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False)

       B_Stance     R_Stance  count
2      Orthodox     Orthodox   2790
3      Orthodox     Southpaw    720
6      Southpaw     Orthodox    715
7      Southpaw     Southpaw    212
9        Switch     Orthodox    174
4      Orthodox       Switch    132
10       Switch     Southpaw     47
8      Southpaw       Switch     44
11       Switch       Switch      8
1      Orthodox  Open Stance      3
0   Open Stance     Southpaw      1
5      Southpaw  Open Stance      1
12      Switch        Switch      1

In [201]:
df.groupby(['B_Stance','R_Stance']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False)

       B_Stance     R_Stance  count
2      Orthodox     Orthodox   2790
3      Orthodox     Southpaw    720
6      Southpaw     Orthodox    715
7      Southpaw     Southpaw    212
9        Switch     Orthodox    174
4      Orthodox       Switch    132
10       Switch     Southpaw     47
8      Southpaw       Switch     44
11       Switch       Switch      8
1      Orthodox  Open Stance      3
0   Open Stance     Southpaw      1
5      Southpaw  Open Stance      1
12      Switch        Switch      1

In [205]:
df[df['B_Stance'] == 'Open Stance']

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,finish_details,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
4525,Mike Massenzio,Krzysztof Soszynski,265,-325,265.0,30.769231,6/11/2011,"Vancouver, British Columbia, Canada",Canada,Blue,...,NaN,3.0,5:00,900.0,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
df1 = df[df.R_Stance != 'Open Stance']
df1 = df1[df.B_Stance != 'Open Stance']

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [208]:
df1

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,finish_details,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,Edson Barboza,Giga Chikadze,-125,105,80.000000,105.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Blue,...,Punch,3.0,1:44,704.0,250.0,400.0,1400.0,2500.0,250.0,200.0
1,Bryan Battle,Gilbert Urbina,-200,170,50.000000,170.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,Rear Naked Choke,2.0,2:15,435.0,175.0,350.0,400.0,700.0,350.0,800.0
2,Ricky Turcios,Brady Hiestand,-145,125,68.965517,125.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,NaN,3.0,5:00,900.0,165.0,240.0,700.0,800.0,350.0,800.0
3,Kevin Lee,Daniel Rodriguez,-145,125,68.965517,125.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,215.0,330.0,300.0,1600.0,700.0,330.0
4,Andre Petroski,Micheal Gillmore,-550,400,18.181818,400.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,Elbows,3.0,3:12,792.0,500.0,1100.0,100.0,1800.0,225.0,800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4845,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.0,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,1.0,0:44,44.0,NaN,NaN,NaN,NaN,NaN,NaN
4846,John Howard,Daniel Roberts,-210,175,47.619048,175.0,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,Punch,1.0,2:01,121.0,NaN,NaN,NaN,NaN,NaN,NaN
4847,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.0,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,Punches,1.0,0:47,47.0,NaN,NaN,NaN,NaN,NaN,NaN
4848,Mike Pierce,Julio Paulino,-420,335,23.809524,335.0,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,3.0,5:00,900.0,NaN,NaN,NaN,NaN,NaN,NaN
4849,Eric Schafer,Jason Brilz,140,-160,140.000000,62.5,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,3.0,5:00,900.0,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
conditions = [
    (df1['R_Stance'] == 'Orthodox') & (df1['B_Stance'] == 'Orthodox'),
    (df1['R_Stance'] == 'Orthodox') & (df1['B_Stance'] == 'Southpaw'),
    (df1['R_Stance'] == 'Southpaw') & (df1['B_Stance'] == 'Southpaw'),
    (df1['R_Stance'] == 'Southpaw') & (df1['B_Stance'] == 'Orthodox'),
    (df1['R_Stance'] == 'Orthodox') & (df1['B_Stance'] == 'Switch'),
    (df1['R_Stance'] == 'Switch') & (df1['B_Stance'] == 'Orthodox'),
    (df1['R_Stance'] == 'Southpaw') & (df1['B_Stance'] == 'Switch'),
    (df1['R_Stance'] == 'Switch') & (df1['B_Stance'] == 'Southpaw'),
    (df1['R_Stance'] == 'Switch') & (df1['B_Stance'] == 'Switch')
    
    ]

# create a list of the values we want to assign for each condition
values = ['Orth_vs_Orth','Ortho_vs_Southpaw','Southpaw_vs_Southpaw','Ortho_vs_Southpaw','Ortho_vs_Switch','Ortho_vs_Switch','Southpaw_vs_Switch','Southpaw_vs_Switch','Switch_vs_Switch']

# create a new column and use np.select to assign values to it using our lists as arguments
df1['Stances'] = np.select(conditions, values)

# display updated DataFrame
df1.head()

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds,Stances
0,Edson Barboza,Giga Chikadze,-125,105,80.000000,105.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Blue,...,3.0,1:44,704.0,250.0,400.0,1400.0,2500.0,250.0,200.0,Orth_vs_Orth
1,Bryan Battle,Gilbert Urbina,-200,170,50.000000,170.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,2.0,2:15,435.0,175.0,350.0,400.0,700.0,350.0,800.0,Orth_vs_Orth
2,Ricky Turcios,Brady Hiestand,-145,125,68.965517,125.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,3.0,5:00,900.0,165.0,240.0,700.0,800.0,350.0,800.0,Orth_vs_Orth
3,Kevin Lee,Daniel Rodriguez,-145,125,68.965517,125.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Blue,...,3.0,5:00,900.0,215.0,330.0,300.0,1600.0,700.0,330.0,Ortho_vs_Southpaw
4,Andre Petroski,Micheal Gillmore,-550,400,18.181818,400.0,2021-08-28,"Las Vegas, Nevada, USA",USA,Red,...,3.0,3:12,792.0,500.0,1100.0,100.0,1800.0,225.0,800.0,Ortho_vs_Switch

In [223]:
df1['Stances'].value_counts(normalize=True)

Orth_vs_Orth            0.575851
Ortho_vs_Southpaw       0.296182
Ortho_vs_Switch         0.063158
Southpaw_vs_Southpaw    0.043756
Southpaw_vs_Switch      0.018782
Switch_vs_Switch        0.001651
0                       0.000619
Name: Stances, dtype: float64

In [323]:
df1['Stances'].value_counts()

Orth_vs_Orth            2790
Ortho_vs_Southpaw       1435
Ortho_vs_Switch          306
Southpaw_vs_Southpaw     212
Southpaw_vs_Switch        91
Switch_vs_Switch           8
0                          3
Name: Stances, dtype: int64

In [261]:
df1['StanceWinner'] = np.where(df1['Winner'] == 'Blue', df1['B_Stance'], df1['R_Stance'])
df1['StanceWinner']

0       Orthodox
1       Orthodox
2       Orthodox
3       Southpaw
4         Switch
          ...
4845    Orthodox
4846    Orthodox
4847    Orthodox
4848    Orthodox
4849    Orthodox
Name: StanceWinner, Length: 4845, dtype: object

In [314]:
df2 = df1.groupby(['Stances','StanceWinner']).agg('size')

In [322]:
df2.groupby(level=0).apply(lambda x:100 * x / float(x.sum())).reset_index().loc[4:,:]

                 Stances StanceWinner           0
4      Ortho_vs_Southpaw     Orthodox   48.501742
5      Ortho_vs_Southpaw     Southpaw   51.498258
6        Ortho_vs_Switch     Orthodox   48.366013
7        Ortho_vs_Switch       Switch   51.633987
8   Southpaw_vs_Southpaw     Southpaw  100.000000
9     Southpaw_vs_Switch     Southpaw   47.252747
10    Southpaw_vs_Switch       Switch   52.747253
11      Switch_vs_Switch       Switch  100.000000

In [316]:
df3 = df1.groupby('Winner').size().reset_index()

In [317]:
df3['percent'] = (df3[0] / df3[0].sum()) * 100

In [318]:
df3

  Winner     0    percent
0   Blue  2015  41.589267
1    Red  2830  58.410733